body {
    padding: 0;
    margin: 0;

    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50px;


    color: #16009C; 

    background: #ffffff;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    position: fixed;
    top: 0;
    right: 0; 

    height: 100%;
    width: 7vw;
    

    background: #16009C;
}
.back {
    display: flex;
    align-items: center;
    justify-content: center; 

    width: 5vw;
    height: 11.1vh;

    margin: 20px 0 20px 0;

    border-radius: 50%;
    background: #ffffff;

    cursor: pointer;

    position: absolute;
}
.back img {
    width: 50%;
    height: 50%;

    position: absolute;
}
section.header-cart {
    display: flex;
    justify-items: center;
    align-items: center;

    margin: 0 0 0 1em;
}
section.header-cart img {
    width: 35px;
    height: 35px;

    margin-left: 1em;
}
.container {
    display: flex;
    align-items: center;
}
.products {
    display: flex;
    flex-direction: column;
}
.products-imgs {
    width: 150px;
    height: 150x;
}
.products-container {
    width: 21.8em;
    height: 24vh;
    margin-bottom: 50px;
    background-color: #E1DEDE;

    margin: 0 0 1em 1em; 

    display: flex;

}
.products-container .product-text {
    display: flex;
    flex-direction: column;
}
.products-container .product-text p{
   margin: 0;
   font-size: 22px;
   height: 1.5em;
   color: black;
}
.shoe-name {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shoe-name img {
    width: 20px;
    height: 20px;
}
.products-container .product-text .shoe-name h3 {
    margin: 0px 0px 0px 0px;
    font-size: 22px;
    line-height: 1.5em;
    color: #2F0EF8;
    width: 17em;
}
hr {
    width: 100%;
}
.product-three {
    display: flex;
    align-items: center;
}
.product-three img {
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
