body {

    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50px;


    color: #16009C; 

    background: #ffffff;
}
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    right: 0; 

    height: 100%;
    width: 7vw;
    

    background: #16009C;
}
.cart,
.back {
    display: flex;
    align-items: center;
    justify-content: center; 

    width: 5vw;
    height: 11.1vh;

    margin: 20px 0 20px 0;

    border-radius: 50%;
    background: #ffffff;

    cursor: pointer;
}
.cart img,
.back img {
    width: 50%;
    height: 50%;
}

.info-container {
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.promotion {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 8%;
}
.promotion button {
    border: none;
    padding: none;
    border-radius: 10em;

    background: #16009C;
    color: white;

    width: 20vw;
    height: 6vh;

    margin-top: 4vh;

    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    cursor: pointer;
}
h1 , h2 {
    margin-top: 50px;
    margin-bottom: 0px;
} 

h1#pre {
    margin-bottom: 50px;
}

.shoe-img img{
    margin-left: 25%;;
    margin-top: 112px;
    width: 450px;
    height: 450px;
}
